<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <servlet>
        <servlet-name>ProducerServlet</servlet-name>
        <servlet-class>glim.antony.ProducerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProducerServlet</servlet-name>
        <url-pattern>/producer-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>input-form.jsp</servlet-name>
        <jsp-file>/input-form.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>input-form.jsp</servlet-name>
        <url-pattern>/input-form-jsp</url-pattern>
    </servlet-mapping>

</web-app>
